{% extends 'base/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    <h1 class="text-center reg-title">فرم ویرایش اطلاعات کاربری</h1>
    <div class="container" dir="rtl" id="regis-back">

        <div class="row">

            <div class="col-12">
                <form method="post" action="{% url 'userprofileupdate' user.id %}">
                    {% csrf_token %}
                    {% include 'component/form.html' %}
                    <input type="submit" class="btn btn-outline-primary" value="ثبت تغییرات">
                </form>
            </div>
        </div>
    </div>

{% endblock %}