{% extends 'base/base.html' %}
{% load static %}

{% block title %} Category {% endblock %}
{% block content %}




    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <form action="{% url 'searchcategory' %}">
                                <input class="form-control" name="categorysearch" placeholder="Search here..." type="search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>


                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree"
                                 id="list-group-men">

                                {% for cat in categories %}
                                <div class="dropright">
                                {% if cat.parent == None %}

                                    <a href="{{ cat.get_absolute_url }}" class="dropdown-toggle"  id="dropdownMenu2" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        {{ cat.name }}
                                    </a>
                                    {% endif %}

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        {% for incat in categories %}
                                            {% if incat.parent == cat %}
                                        <a href="{{ incat.get_absolute_url }}" class="dropdown-item" >{{ incat.name }}</a>
                                            {% endif %}
                                            {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>


                       <div class="filter-brand-left">
                            <div class="title-left">
                                <h3>Brand</h3>
                            </div>
                            <div class="brand-box">
                                <ul>

                                    <li>
                                        <div class="radio radio-danger">
                                            <form action="{% url 'searchbrand' %}" method="get">
                                                {% for brand in object_list %}

                                                    {% ifchanged brand.product.brand %}
                                                        <p>
                                                        <label id="{{ brand.product.brand }}">{{ brand.product.brand }}</label>
                                                        <input id="{{ brand.product.brand }}"  name="checkname{{ forloop.counter }}" type="checkbox"
                                                                value="{{ brand.product.brand }}">
                                                        </p>

                                                    {% endifchanged %}
                                                {% endfor %}
                                                <button type="submit" class="btn btn-outline-danger">submit</button>
                                            </form>

                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>



                    <div class="filter-brand-left">
                            <div class="title-left">
                                <h3>فیلتر محصول</h3>
                            </div>
                            <div class="brand-box">
                                <ul>

                                    <li>
                                        <div class="radio radio-danger">
                                            <form action="{% url 'sorted' %}" method="get">

                                                <p>
                                                    <label id="1">یشتر دیده شده</label>
                                                    <input id="1" name="ch1" value="1" type="checkbox">
                                                </p>
                                                  <p>
                                                    <label id="2">کمترین قیمت</label>
                                                    <input id="2" name="ch2" value="2" type="checkbox">
                                                </p>
                                                  <p>
                                                    <label id="3">بیشترین قیمت</label>
                                                    <input id="3" name="ch3" value="3" type="checkbox">
                                                </p>




                                                <button type="submit" class="btn btn-outline-danger">submit</button>
                                            </form>

                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                                <div class="toolbar-sorter-right">

                                </div>
                                <p>result: {{ object_list.count }} product</p>
                            </div>
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i
                                                class="fa fa-th"></i> </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#list-view" data-toggle="tab"> <i
                                                class="fa fa-list-ul"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">


                                        {% for cat in object_list %}
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="sale">Sale</p>
                                                        </div>
                                                        <img src="{{ cat.product.image.url }}" class="img-fluid"
                                                             alt="Image">
                                                        <div class="mask-icon">

                                                            <a class="cart" href="{{ cat.get_absolute_url }}">مشاهده محصول</a>
                                                        </div>
                                                    </div>
                                                    <div class="why-text">
                                                        <a href="{{ cat.get_absolute_url }}">
                                                            <h4>{{ cat.product.name }}</h4></a>
                                                        <h5> {{ cat.price }}</h5>
                                                    </div>
                                                </div>
                                            </div>



                                        {% endfor %}


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->






{% endblock %}