{% extends 'base/base.html' %}
{% load static %}
{% load extra %}
{% block title %} Category {% endblock %}
{% block content %}




    <div class=" bg-white text-right col-12">

        <div class="container " dir="rtl">
            <div class="row text-primary">
                <div><a href="{% url 'home' %}">
                    خانه ></a>
                </div>
                <div>
                    {% for c in shopproducts %}
                        {% if forloop.first %}
                            {% if c.product.category.parent.slug == request.resolver_match.kwargs|dictkey %}
                                {{ c.product.category.parent.name }}
                            {% else %}
                                {{ c.product.category.parent.name }}>{{ c.product.category.name }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

        </div>
        <hr>
    </div>
    <div>


    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <form action="{% url 'searchcategory' %}">
                                <input class="form-control" name="categorysearch" placeholder="Search here..."
                                       type="search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>


                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree"
                                 id="list-group-men">

                                {% for cat in categories %}
                                    <div class="dropright">
                                        {% if cat.parent == None %}

                                            <a href="{{ cat.get_absolute_url }}" class="dropdown-toggle
{% if request.resolver_match.kwargs|dictkey == cat.slug %} text-primary {% endif %}"
                                               id="dropdownMenu2" data-toggle="dropdown"
                                               aria-haspopup="true" aria-expanded="false">
                                                {{ cat.name }}
                                            </a>
                                        {% endif %}

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            {% for incat in categories %}
                                                {% if incat.parent == cat %}
                                                    <a href="{{ incat.get_absolute_url }}"
                                                       class="dropdown-item
{% if request.resolver_match.kwargs|dictkey == incat.slug %} text-primary {% endif %}">{{ incat.name }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>


                        <div class="filter-brand-left">

                            <div class="brand-box">
                                <ul>

                                    <li>
                                        <div class="radio radio-danger">
                                            <form action="{% url 'searchbrand' %}" method="get">
                                                <h3 class="title-left"> برند</h3>

                                                <div class="form-group">

                                                    <select class="form-control" name="checkname"
                                                            id="exampleFormControlSelect1">
                                                        {% for brand in shopproducts %}
                                                            {% ifchanged brand.product.brand %}
                                                                <option value="{{ brand.product.category.slug }}" selected>{{ brand.product.brand }}</option>

                                                            {% endifchanged %}
                                                        {% endfor %}

                                                    </select>
                                                </div>


                                                <h3 class="title-left">فیلتر اضافی</h3>

                                                <div class="form-group">

                                                    <select class="form-control" name="ch"
                                                            id="exampleFormControlSelect1">
                                                        <option value="0" selected>مرتب سازی براساس</option>
                                                        <option value="1">بیشترین بازدید</option>
                                                        <option value="2">کمترین قیمت</option>
                                                        <option value="3">بیشترین قیمت</option>

                                                    </select>
                                                </div>


                                                <button type="submit" class="btn btn-outline-danger">submit</button>
                                            </form>

                                        </div>
                                    </li>

                                </ul>

                            </div>

                        </div>


                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                                <div class="toolbar-sorter-right">

                                </div>

                                <small>result: {{ shopproducts.count }} product in </small>
                                <small class="text-primary">{{ request.resolver_match.kwargs|dictkey }}
                                    category</small>
                            </div>
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i
                                                class="fa fa-th"></i> </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#list-view" data-toggle="tab"> <i
                                                class="fa fa-list-ul"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">


                                        {% for cat in shopproducts %}
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="sale">Sale</p>
                                                        </div>
                                                        <img src="{{ cat.product.image.url }}" class="img-fluid"
                                                             alt="Image">
                                                        <div class="mask-icon">

                                                            <a class="cart" href="{{ cat.get_absolute_url }}">مشاهده
                                                                محصول</a>
                                                        </div>
                                                    </div>
                                                    <div class="why-text">
                                                        <a href="{{ cat.get_absolute_url }}">
                                                            <h4>{{ cat.product.name }}</h4></a>
                                                        <h5> {{ cat.price }}</h5>
                                                    </div>
                                                </div>
                                            </div>



                                        {% endfor %}


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->

    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        Previous</a></li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link" href="?page={{ i }}">
                            {{ i }}
                        </a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">
                            {{ i }}
                        </a></li>

                    {% endif %}
                {% endfor %}


                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>


{% endblock %}

