{% extends 'base/base.html' %}
{% load static %}
{% block title %} Basket {% endblock %}


{% block content %}
    <!-- Start Cart  -->

    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if basket != None and detail|length > 0 %}
                        <div class="table-main table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>عکس</th>
                                    <th>نام محصول</th>
                                    <th>قیمت</th>
                                    <th>تعداد</th>
                                    <th>قیمت کل</th>
                                    <th>حذف</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in detail %}

                                    <tr>
                                        <td class="thumbnail-img">
                                            <a href="#">
                                                <img class="img-fluid" src="{{ item.shop_product.product.image.url }}"
                                                     alt=""/>
                                            </a>
                                        </td>
                                        <td class="name-pr">
                                            <a href="{% url 'product_detail'   item.shop_product.product.slug item.shop_product.shop.slug %}">
                                                {{ item.shop_product.product.name }}
                                            </a>
                                            <p>
                                                <small>{{ item.shop_product.shop.name }}</small>/
                                                <small> سایز:{{ item.size }}</small>/
                                                <small>رنگ:{{ item.color }}</small>
                                            </p>
                                        </td>
                                        <td class="price-pr">
                                            <p>{{ item.shop_product.price }} </p>
                                        </td>

                                        <td class="quantity-box inline-group">
                                            <button onclick="update({{ item.id }})">+</button>
                                            <small id="up{{ item.id }}">{{ item.quantity }}</small>
                                            <button onclick="update({{ item.id }},-1)">-</button>
                                        </td>

                                        <td class="total-pr">
                                            <p id="price{{ item.id }}">{{ item.total_price }}</p>
                                        </td>
                                        <td class="remove-pr">
                                            <a href="{% url 'removebasketitem' item.id %}">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-warning text-center"><p>محصولی در سبد خرید شما نیست</p></div>
                    {% endif %}
                </div>
            </div>
            {% if address %}


            {% else %}
                <div class="alert alert-info text-center col-3">جهت ثبت سفارش باید آدرس خود را وارد کنید</div>
            <div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                    <div class="coupon-box">
                        <div class="input-group input-group-sm">
                            <form method="post" action="{% url 'add_address' %}">
                                {% csrf_token %}
                                {{ AddressForm.as_p }}
                                <div class="input-group-append">
                                    <button class="btn btn-theme" type="submit">ثبت آدرس</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

            <div class="row my-5">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>فاکتور پرداخت</h3>
                        <div class="d-flex">
                            <h4>قیمت کل</h4>
                            <div class="ml-auto font-weight-bold price_total">{{ basket.sum_total }}</div>
                        </div>
                        <div class="d-flex">
                            <h4>تخفیف</h4>
                            <div class="ml-auto font-weight-bold"> 0</div>
                        </div>
                        <hr class="my-1">


                        <div class="d-flex gr-total">
                            <h5>قیمت نهایی</h5>
                            <div class="ml-auto h5 price_total">{{ basket.sum_total }} </div>
                        </div>
                        <hr>
                    </div>
                </div>
                {% if address %}
                <form method="post" action="{% url 'checkout' %}">
                    {% csrf_token %}
                    {{ order_form.Basket_id }}
                    <div class="col-12 d-flex shopping-box" dir="rtl">
                        <button class="ml-auto btn hvr-hover text-white" type="submit"> ثبت سفارش</button>
                    </div>
                </form>
                {% endif %}

            </div>

        </div>
    </div>
    <!-- End Cart -->
{% endblock %}











{% block javascript %}

    <script>
        function update(basketitemId, condition = 1) {
            const data = JSON.stringify({item_id: basketitemId, condition})
            console.log(data)
            $.ajax({
                type: "post",
                url: "{% url 'updatebasketitem' %}",
                data: data,
                success: function (response) {
                    const data = JSON.parse(response)
                    console.log(data)
                    $(`#up${basketitemId}`).text(data.counters);
                    $(`#price${basketitemId}`).text(data.price_item);
                    $(`.price_total`).text(data.price_total);
                }
            });
        }
    </script>
{% endblock %}